
@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,700&display=swap');


* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}


a {
  color: inherit;
  text-decoration: none;
}

.about{
  background-image: url("/images/aboutb1.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.announcement {
  animation: marquee 10s linear infinite;
}


@keyframes marquee {
  0% {
    transform: translateX(400%);
  }
  100% {
    transform: translateX(0%);
  }
}

body { 
  background-color: #000000;
}

.welcome {font-family: 'Poppins', sans-serif;
}